.login {
	margin-top: 25px;
	text-align:center;
	padding: 35px;
	color: white;
	background: linear-gradient(to left, rgba(5, 184, 255,1) 0%, rgba(0,0,0,1) 100%);

}

button {
	text-align: center;
}

.loginButton {
	text-align: center;
}

.noAccount {
	text-align: center;
}

.registerbtn {
	color: #26eb29;
	font-weight: 600;

}
.registerbtn:hover {
	color: #1809e3;
	background-color: transparent;
}

.aLink {
	color: #08c43a;
	font-weight: 750;
}

.aLink:hover {
	color: #0a23c7;
}